#navbar {
  background-color: rgba(80, 78, 78, 0.11);
}


#navbar ul {
    margin: 5;
    padding: 15px;
    list-style-type: none;
    text-align: center;
    background-color: rgba(80, 78, 78, 0.349);
  }
  
  #navbar ul li {
    display: inline;
    
  }
  
  #navbar ul li a {
    text-decoration: none;
    padding: 0.2em 1em;
    color: rgba(10, 9, 9, 0.637);
    background-color: blue(255, 255, 255);
  }
  
  #navbar ul li a:hover {
    color: rgb(90, 4, 4);
    background-color: blue(255, 255, 255);
  }
  